.vscode/
__pycache__/
img
tests
setting.yml
study
logs
userlist.json
grouplist.json
groupdata.json
group_key.yaml
config2.yaml
userData.db
Bottlelibrary.db
luckData.db
start.bat
bugmaker
cache
restrict.py
saya/StorySend/scene.json
naconfig.json
start2.bat
saya/MapMaker/config.json
archive
database/talkData.db
saya/TalkStatistic/ffmpeg.exe
saya/Favor/count.txt
saya/MapMaker/config.json
saya/Favor/count.txt
saya/StoryTeller
saya/StoryTeller/__init__.py
saya/Filter
2.py
config/config.yaml
start3.bat
saya/GoodMorning/__init__.py
