.vscode/
__pycache__/
img
tests
setting.yml
study
logs
config.yaml
userlist.json
grouplist.json
groupdata.json
group_key.yaml
config2.yaml
userData.db
font
Bottlelibrary.db
luckData.db
start.bat
bugmaker
cache
